{{#if wantI18n}}
<i18n>
{
  "en": {
    "name": "{{titleCase name}}"
  }
}
</i18n>

{{/if}}
<template>
  <main>
  {{#if wantI18n}}
    <i18n
      tag="h2"
      path="name" />
  {{else}}
    <h2>{{titleCase name}}</h2>
  {{/if}}
  </main>
</template>

<script>
export default {
  name: '{{properCase name}}',
};
</script>

<style lang="scss" scoped>

</style>
