<template>
  <section class="{{dashCase name}}">
    <span>{{titleCase name}}</span>
  </section>
</template>

<script>
export default {
  name: '{{properCase name}}',
};
</script>

<style lang="scss" scoped>

</style>
