/**
 * {{properCase name}}
 */

import Vue from 'vue';
{{#if wantStyleSheet}}

// StyleSheet
import './style.scss';
{{/if}}

export default Vue.component('{{properCase name}}', {
  template: `
    <section class="{{dashCase name}}">
      <span>{{titleCase name}}</span>
    </section>
  `,
});
