/**
 * {{properCase name }}
 */

import Vue from 'vue';

export default Vue.component('{{ properCase name }}', {
  template: `
    <section class="{{dashCase name}}">
      <span>{{titleCase name}}</span>
    </section>
  `,
});
